.cs-back-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e50914; /* CineSphere red */
  color: white;

  border: none;
  cursor: pointer;

  transition: all 0.2s ease;
}

.cs-back-circle:hover {
  background-color: white;
  color: #e50914;
  transform: scale(1.05);
}

